In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/adult_dataset.csv')

df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [8]:
#Create Subsets
subset = df[(df['age']> 35) & (df['gender']=='Male') & (df['race']=='White')]
subset

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K

In [9]:
subset1 = df[df['workclass']=='Private']
subset1

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [10]:
#Merge data
merge = pd.merge(subset,subset1)
merge

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
2,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
3,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
4,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10222,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
10223,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
10224,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
10225,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
10226,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K

In [12]:
#Sort Data

sort = df.sort_values("age", ascending = True)
sort

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
32598,17,Private,133449,9th,5,Never-married,Other-service,Own-child,Black,Male,0,0,26,United-States,<=50K
29817,17,Self-emp-not-inc,181317,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
36580,17,Private,147339,10th,6,Never-married,Prof-specialty,Own-child,Other,Female,0,0,15,United-States,<=50K
26409,17,Private,186677,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,12,United-States,<=50K
19520,17,?,110998,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12446,90,Private,347074,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1944,12,United-States,<=50K
19172,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
8982,90,Private,225063,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,South,<=50K
28277,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
899,90,Private,149069,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,1825,50,United-States,>50K

In [13]:
#Transpose Data
transpose = df.T
transpose

,0,1,2,3,4,5,6,7,8,9,...,48832,48833,48834,48835,48836,48837,48838,48839,48840,48841
age,25,38,28,44,18,34,29,63,24,55,...,32,43,32,53,22,27,40,58,22,52
workclass,Private,Private,Local-gov,Private,?,Private,?,Self-emp-not-inc,Private,Private,...,Private,Private,Private,Private,Private,Private,Private,Private,Private,Self-emp-inc
fnlwgt,226802,89814,336951,160323,103497,198693,227026,104626,369667,104996,...,34066,84661,116138,321865,310152,257302,154374,151910,201490,287927
education,11th,HS-grad,Assoc-acdm,Some-college,Some-college,10th,HS-grad,Prof-school,Some-college,7th-8th,...,10th,Assoc-voc,Masters,Masters,Some-college,Assoc-acdm,HS-grad,HS-grad,HS-grad,HS-grad
educational-num,7,9,12,10,10,6,9,15,10,4,...,6,11,14,14,10,12,9,9,9,9
marital-status,Never-married,Married-civ-spouse,Married-civ-spouse,Married-civ-spouse,Never-married,Never-married,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,...,Married-civ-spouse,Married-civ-spouse,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,Widowed,Never-married,Married-civ-spouse
occupation,Machine-op-inspct,Farming-fishing,Protective-serv,Machine-op-inspct,?,Other-service,?,Prof-specialty,Other-service,Craft-repair,...,Handlers-cleaners,Sales,Tech-support,Exec-managerial,Protective-serv,Tech-support,Machine-op-inspct,Adm-clerical,Adm-clerical,Exec-managerial
relationship,Own-child,Husband,Husband,Husband,Own-child,Not-in-family,Unmarried,Husband,Unmarried,Husband,...,Husband,Husband,Not-in-family,Husband,Not-in-family,Wife,Husband,Unmarried,Own-child,Wife
race,Black,White,White,Black,White,White,Black,White,White,White,...,Amer-Indian-Eskimo,White,Asian-Pac-Islander,White,White,White,White,White,White,White
gender,Male,Male,Male,Male,Female,Male,Male,Male,Female,Male,...,Male,Male,Male,Male,Male,Female,Male,Female,Male,Female
capital-gain,0,0,0,7688,0,0,0,3103,0,0,...,0,0,0,0,0,0,0,0,0,15024
capital-loss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hours-per-week,40,50,40,40,30,30,40,32,40,10,...,40,45,11,40,40,38,40,40,20,40
native-country,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,...,United-States,United-States,Taiwan,United-States,United-States,United-States,United-States,United-States,United-States,United-States
income,<=50K,<=50K,>50K,>50K,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,...,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K

In [14]:
#Shape
df.shape

(48842, 15)

In [17]:
#Reshape
reshape = df.pivot_table(index='workclass',columns='gender',values ='hours-per-week')
reshape

gender               Female       Male
workclass
?                 29.914961  33.388489
Federal-gov       39.882743  42.265306
Local-gov         39.014308  42.075080
Never-worked      23.333333  31.285714
Private           36.510647  42.229524
Self-emp-inc      42.398104  49.448113
Self-emp-not-inc  37.227345  45.789669
State-gov         36.901704  40.462233
Without-pay       32.285714  34.785714