Perform the following operations using Python on the Air quality data set
a. Data cleaning
b. Data integration
c. Data transformation
d. Error correcting

In [24]:
import pandas as pd

# Load the dataset into a pandas DataFrame
df = pd.read_csv(r'/content/drive/MyDrive/MCOE/DS BDA/PARTB-DATASETS/airquality_data.csv',encoding='cp1252')

df.head()

<ipython-input-24-62b2e041fa23>:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'/content/drive/MyDrive/MCOE/DS BDA/PARTB-DATASETS/airquality_data.csv',encoding='cp1252')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [22]:
#data integration
df1 = df[['type','location','date']]
df2 = df[['type', 'spm']]

In [23]:
df3 = pd.merge(df1,df2, on ='type')
df3.head()

Empty DataFrame
Columns: [location, date, type, spm]
Index: []